openapi: 3.2.0
info:
  title: Lithic Settlement Report API
  description: The Lithic API is a card issuing and issuer-processor platform for issuing virtual and physical cards, authorizing and clearing transactions, moving money across ledgered financial accounts, and managing the full card lifecycle - KYC/KYB account holder onboarding, authorization rules and real-time Auth Stream Access (ASA) decisioning, disputes, tokenization into digital wallets, 3DS authentication, ACH payments, book transfers, external payments, settlement reporting, and fraud/transaction…
  version: 1.0.0
  contact:
    name: Lithic
    url: https://www.lithic.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.txt
servers:
- url: https://api.lithic.com
  description: Production
- url: https://sandbox.lithic.com
  description: Sandbox (mirrors production functionality)
security:
- ApiKeyAuth: []
tags:
- name: Settlement Report
  description: Daily settlement detail, summary, and network total reporting.
paths:
  /v1/reports/settlement/details/{report_date}:
    get:
      operationId: getSettlementDetails
      tags:
      - Settlement Report
      summary: List settlement details
      description: List details.
      parameters:
      - name: report_date
        in: path
        required: true
        description: Date of the settlement report to retrieve. Not available in sandbox.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/reports/settlement/summary/{report_date}:
    get:
      operationId: getSummary
      tags:
      - Settlement Report
      summary: Get settlement summary
      description: Get the settlement report for a specified report date. Not available in sandbox.
      parameters:
      - name: report_date
        in: path
        required: true
        description: Date of the settlement report to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/reports/settlement/network_totals:
    get:
      operationId: listNetworkTotals
      tags:
      - Settlement Report
      summary: List network totals
      description: List network total records with optional filters. Not available in sandbox.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/reports/settlement/network_totals/{token}:
    get:
      operationId: getNetworkTotal
      tags:
      - Settlement Report
      summary: Get network total
      description: Retrieve a specific network total record by token. Not available in sandbox.
      parameters:
      - name: token
        in: path
        required: true
        description: Token of the network total record to retrieve
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  responses:
    ValidationError:
      description: The request failed validation.
    Unauthorized:
      description: Missing or invalid API key.
  schemas:
    SettlementReport:
      type: object
      description: Daily settlement detail, summary, and network total reporting.
      properties:
        token:
          type: string
          format: uuid
          description: Globally unique identifier for the object.
        created:
          type: string
          format: date-time
      additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Raw API secret key value (not prefixed with "Bearer").
