openapi: 3.2.0
info:
  title: Lithic External Payments API
  description: The Lithic API is a card issuing and issuer-processor platform for issuing virtual and physical cards, authorizing and clearing transactions, moving money across ledgered financial accounts, and managing the full card lifecycle - KYC/KYB account holder onboarding, authorization rules and real-time Auth Stream Access (ASA) decisioning, disputes, tokenization into digital wallets, 3DS authentication, ACH payments, book transfers, external payments, settlement reporting, and fraud/transaction…
  version: 1.0.0
  contact:
    name: Lithic
    url: https://www.lithic.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.txt
servers:
- url: https://api.lithic.com
  description: Production
- url: https://sandbox.lithic.com
  description: Sandbox (mirrors production functionality)
security:
- ApiKeyAuth: []
tags:
- name: External Payments
  description: Recording and reconciling payments that move outside of Lithic-initiated rails.
paths:
  /v1/external_payments:
    get:
      operationId: getExternalPayments
      tags:
      - External Payments
      summary: List external payments
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalPayments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
    post:
      operationId: postExternalPayments
      tags:
      - External Payments
      summary: Create external payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalPayments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/external_payments/{external_payment_token}:
    get:
      operationId: getExternalPayment
      tags:
      - External Payments
      summary: Get external payment
      parameters:
      - name: external_payment_token
        in: path
        required: true
        description: Globally unique identifier for the external payment
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalPayments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/external_payments/{external_payment_token}/settle:
    post:
      operationId: settleExternalPayment
      tags:
      - External Payments
      summary: Settle external payment
      parameters:
      - name: external_payment_token
        in: path
        required: true
        description: Globally unique identifier for the external payment
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalPayments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/external_payments/{external_payment_token}/release:
    post:
      operationId: releaseExternalPayment
      tags:
      - External Payments
      summary: Release external payment
      parameters:
      - name: external_payment_token
        in: path
        required: true
        description: Globally unique identifier for the external payment
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalPayments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/external_payments/{external_payment_token}/cancel:
    post:
      operationId: cancelExternalPayment
      tags:
      - External Payments
      summary: Cancel external payment
      parameters:
      - name: external_payment_token
        in: path
        required: true
        description: Globally unique identifier for the external payment
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalPayments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/external_payments/{external_payment_token}/reverse:
    post:
      operationId: reverseExternalPayment
      tags:
      - External Payments
      summary: Reverse external payment
      parameters:
      - name: external_payment_token
        in: path
        required: true
        description: Globally unique identifier for the external payment
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalPayments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  schemas:
    ExternalPayments:
      type: object
      description: Recording and reconciling payments that move outside of Lithic-initiated rails.
      properties:
        token:
          type: string
          format: uuid
          description: Globally unique identifier for the object.
        created:
          type: string
          format: date-time
      additionalProperties: true
  responses:
    ValidationError:
      description: The request failed validation.
    Unauthorized:
      description: Missing or invalid API key.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Raw API secret key value (not prefixed with "Bearer").
