openapi: 3.0.3
info:
  title: Lithic 3DS Book Transfer API
  description: The Lithic API is a card issuing and issuer-processor platform for issuing virtual and physical cards, authorizing and clearing transactions, moving money across ledgered financial accounts, and managing the full card lifecycle - KYC/KYB account holder onboarding, authorization rules and real-time Auth Stream Access (ASA) decisioning, disputes, tokenization into digital wallets, 3DS authentication, ACH payments, book transfers, external payments, settlement reporting, and fraud/transaction monitoring. This document curates the real, published Lithic OpenAPI 3.1 definitions (https://github.com/lithic-com/lithic-openapi) into the endpoint surface referenced by this apis.yml, expressed as OpenAPI 3.0.3 with lightweight response schemas. Requests are authenticated with an API key sent as the raw value of the Authorization header (not a Bearer token).
  version: 1.0.0
  contact:
    name: Lithic
    url: https://www.lithic.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.txt
servers:
- url: https://api.lithic.com
  description: Production
- url: https://sandbox.lithic.com
  description: Sandbox (mirrors production functionality)
security:
- ApiKeyAuth: []
tags:
- name: Book Transfer
  description: Internal ledger transfers between financial accounts.
paths:
  /v1/transfer:
    post:
      operationId: postTransfer
      tags:
      - Book Transfer
      summary: Transfer funds within Lithic
      description: Transfer funds between two financial accounts or between a financial account and card
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookTransfer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/book_transfers:
    get:
      operationId: getBookTransfers
      tags:
      - Book Transfer
      summary: List book transfers
      description: List book transfers
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookTransfer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
    post:
      operationId: postBookTransfers
      tags:
      - Book Transfer
      summary: Create book transfer
      description: Book transfer funds between two financial accounts or between a financial account and card
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookTransfer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/book_transfers/{book_transfer_token}:
    get:
      operationId: getBookTransfer
      tags:
      - Book Transfer
      summary: Get book transfer by token
      description: Get book transfer by token
      parameters:
      - name: book_transfer_token
        in: path
        required: true
        description: Id of the book transfer to retrieve
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookTransfer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/book_transfers/{book_transfer_token}/retry:
    post:
      operationId: retryBookTransfer
      tags:
      - Book Transfer
      summary: Retry book transfer
      description: Retry a book transfer that has been declined
      parameters:
      - name: book_transfer_token
        in: path
        required: true
        description: Token of the book transfer to retry
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookTransfer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/book_transfers/{book_transfer_token}/reverse:
    post:
      operationId: reverseBookTransfer
      tags:
      - Book Transfer
      summary: Reverse book transfer
      description: Reverse a book transfer
      parameters:
      - name: book_transfer_token
        in: path
        required: true
        description: Id of the book transfer to retrieve
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookTransfer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  responses:
    ValidationError:
      description: The request failed validation.
    Unauthorized:
      description: Missing or invalid API key.
  schemas:
    BookTransfer:
      type: object
      description: Internal ledger transfers between financial accounts.
      properties:
        token:
          type: string
          format: uuid
          description: Globally unique identifier for the object.
        created:
          type: string
          format: date-time
      additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Raw API secret key value (not prefixed with "Bearer").
