openapi: 3.2.0
info:
  title: Lithic Funding Events API
  description: The Lithic API is a card issuing and issuer-processor platform for issuing virtual and physical cards, authorizing and clearing transactions, moving money across ledgered financial accounts, and managing the full card lifecycle - KYC/KYB account holder onboarding, authorization rules and real-time Auth Stream Access (ASA) decisioning, disputes, tokenization into digital wallets, 3DS authentication, ACH payments, book transfers, external payments, settlement reporting, and fraud/transaction…
  version: 1.0.0
  contact:
    name: Lithic
    url: https://www.lithic.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.txt
servers:
- url: https://api.lithic.com
  description: Production
- url: https://sandbox.lithic.com
  description: Sandbox (mirrors production functionality)
security:
- ApiKeyAuth: []
tags:
- name: Funding Events
  description: Card program funding event reporting.
paths:
  /v1/funding_events:
    get:
      operationId: getFundingEvents
      tags:
      - Funding Events
      summary: List funding events
      description: Get all funding events for program
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingEvents'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/funding_events/{funding_event_token}:
    get:
      operationId: getFundingEventById
      tags:
      - Funding Events
      summary: Get funding event by ID
      description: Get funding event for program by id
      parameters:
      - name: funding_event_token
        in: path
        required: true
        description: Globally unique identifier for funding event.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingEvents'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/funding_events/{funding_event_token}/details:
    get:
      operationId: getFundingEventDetailsById
      tags:
      - Funding Events
      summary: Get funding event details
      description: Get funding event details by id
      parameters:
      - name: funding_event_token
        in: path
        required: true
        description: Globally unique identifier for funding event.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingEvents'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
    ValidationError:
      description: The request failed validation.
  schemas:
    FundingEvents:
      type: object
      description: Card program funding event reporting.
      properties:
        token:
          type: string
          format: uuid
          description: Globally unique identifier for the object.
        created:
          type: string
          format: date-time
      additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Raw API secret key value (not prefixed with "Bearer").
